body {
  background-color: rgb(11, 95, 88);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.Todo {
  width: 400px;
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}
input {
  background-color: cadetblue;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
#AddButton {
  border-radius: 5px;
  background-color: cadetblue;
}

.Todo button {
  background-color: rgba(0, 0, 0, 0);

  border: 0px;
}

.LineThrough {
  text-decoration: line-through;
}
p {
  flex-grow: 1;
}
.editInput {
  flex-grow: 1;
}

.delete {
  color: rgb(168, 25, 25);
}
.edit {
  color: rgb(25, 168, 108);
}
.save {
  color: rgb(36, 252, 162);
}
.dropdown {
  position: fixed;
  right: 100px;
}
